apiVersion: v1
kind: Service
metadata:
  name: notification-service
  labels:
    app.kubernetes.io/name: notification-service
spec:
  type: ClusterIP
  ports:
    - port: 8006
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: notification-service
