apiVersion: v1
kind: Service
metadata:
  name: portfolio-service
  labels:
    app.kubernetes.io/name: portfolio-service
spec:
  type: ClusterIP
  ports:
    - port: 8008
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: portfolio-service
