apiVersion: v1
kind: Service
metadata:
  name: payment-service
  labels:
    app.kubernetes.io/name: payment-service
spec:
  type: ClusterIP
  ports:
    - port: 8004
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: payment-service
